<!--   RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author:
    1. Tran Manh Cuong (s3974735)
    2. Truong Quang Bao Loc (s3965528)
    3. Nguyen Van Khai (s3979259)
    4. Truong Tuong Hao (s3979259)
    5. Huynh Nguyen Thien Minh (s3978742)
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Account Detail Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
                <!-- CSS -->
            <link rel="stylesheet" href="/css/reset.css" />
            <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
                crossorigin="anonymous"
            />
            <link rel="stylesheet" href="/css/login-account.css" />
    
            <%- include ('partials/head') %>
    </head>
    <body class="account-page">
        <section class="pt-5">
            <div class="container">
                <h2 class="text-center pb-3 text-light">ACCOUNT DETAIL</h2>
                <form action="/shipper/account-detail/<%= user.id %>" enctype="multipart/form-data" method="post" class="bg-white shadow rounded-lg dflex flex-column d-sm-flex">
                    <div class="p-4">
                        <div class="img-circle text-center mb-3">
                            <label for="filetag"><img src="data:<%= user.profilePicture.mimeType %>;base64,<%= user.profilePicture.data.toString('base64') %>" alt="Image" id="preview" class="shadow"></label>
                            <input type="file" id="filetag" class="d-none" name="profilePicture" accept="image/*"/>
                        </div>
                    </div>

                    <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="account" role="tabpanel">
                            <div class="row">   
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" name="username" value="<%= user.username %>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input type="text" class="form-control" name="name" value="<%= user.name %>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="email" value="<%= user.email %>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Distribution Hub</label>
                                        <select name="distributionHub" id="distributionHub" class="form-control"><%= user.distributionHub %>
                                            <option value="Tan Son Nhat Cargo Terminal">Tan Son Nhat Cargo Terminal</option>
                                            <option value="Cat Lai Terminal">Cat Lai Terminal</option>
                                            <option value="Saigon Newport Corporation">Saigon Newport Corporation</option>
                                            <option value="Long Binh Logistics Center">Long Binh Logistics Center</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                    <div class="btn btn-light text-decoration-none"><a href="/">Logout</a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="/js/login-account.js"></script>
    </body>
</html>

 