<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head-customer') %>
    <body>
        <%- include ('partials/navbar-customer') %>
        <!-- banner -->
        <section id="banner">
            <div class="banner container-lg">
                <div class="row">
                    <div
                        class="col-lg-7 col-md-5 col-sm-4 d-flex flex-column justify-content-center"
                    >
                        <h1>
                            Neon Orange Lace Up <br />
                            Clear Strap Boots
                        </h1>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Veniam, illo tempora temporibus dicta
                            reiciendis nihil!
                        </p>
                        <div class="my-2">
                            <a href="#hot"><button class="btn">Buy Now</button></a>
                        </div>
                    </div>
                    <div
                        class="col-lg-5 col-md-7 col-sm-8 d-flex justify-content-end"
                    >
                        <img
                            class="img-fluid"
                            src="/images/customer/banner3.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
        </section>
        <!-- main -->
        <section id="categories">
            <div class="container-lg categories my-4" style="padding-top:77px;">
                <h1>Category</h1>
                <div class="content-box mt-5">
                    <div class="row w-100">
                        <% categories.forEach((category) => { %>
                            <div class="col-lg-4 col-md-4 col-sm-4 card-display">
                              <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 15rem">
                                <a href="../static-website-material/views/category.html" style="text-decoration: none">
                                  <div class="cate-img">
                                    <div class="img-border">
                                        <% if (category === "Beauty Cosmetic") {%>
                                            <img class="img-fluid" src="/images/customer/category2.png" alt="<%= category%>">
                                        <% } else if (category === "Fashion") { %>
                                            <img class="img-fluid" src="/images/customer/category1.png" alt="<%= category%>">
                                        <% }  else if (category === "Electronics") { %>
                                            <img class="img-fluid" src="/images/customer/category3.png" alt="<%= category%>">
                                        <% }  else if (category === "Sports & Outdoors") { %>
                                            <img class="img-fluid" src="/images/customer/category4.png" alt="<%= category%>">
                                        <% }   else if (category === "Home & Kitchen") { %>
                                            <img class="img-fluid" src="/images/customer/category5.png" alt="<%= category%>">
                                        <% }   else { %>
                                            <img class="img-fluid" src="/images/customer/category6.png" alt="<%= category%>">
                                        <% } %>      
                                        
                                    </div>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title" style="font-family: 'Poppins', sans-serif;"><%=category%></h5>
                                  </div>
                                </a>
                              </div>
                            </div>
                          <% }); %>
                </div>
            </div>
        </section>
        <!-- recommendation -->
        <section id="recommendation">
            <div class="container-lg">
                <div class="row">
                    <div
                        class="category-banner d-flex justify-content-center"
                    >
                        <img
                            class="img-fluid"
                            style="
                                background-color: rgba(
                                    180,
                                    179,
                                    179,
                                    0.502
                                );
                            "
                            src="/images/customer/customer/homepage/product/clothes.png"
                            alt=""
                        />
                    </div>
                    </div>
                    <div
                        class="row"
                        style="position: relative"
                    >
                        <div
                            class="title"
                            style="padding: 20px"
                        >
                            <h1 style="color:#e38b18">FASHION <a href="/homepage-customer/fashion"> <i class="fa-solid fa-arrow-right" style="color:#e38b18"></i></a> </h1>
                        </div>
                        <div class="product-container">
                            <% const fashionProducts = products.filter(product => (product.category === "Fashion" )) %> 
                            <% for (var i = 0; i < 3; i++) { %>
                                <% var product = fashionProducts[i] %>
                                <div
                                class="col-lg-4 col-md-6 col-ms-12 my-3 d-flex product-col"
                            >
                                <a
                                    href="./views/product-detail.html"
                                    style="text-decoration: none; color: black"
                                >
                                    <div
                                        class="product-card ms-2"
                                        style="position: relative"
                                    >
                                        <div class="product-image border shadow">
                                            <img
                                                src="/images/customer/<%=product.image%>"
                                                class="project-thumb"
                                                width="300px"
                                                height="302px"
                                                alt="<%=product.name%>"
                                            />
                                        </div>
                                        <div
                                            class="overlay product-effect"
                                            style="position: absolute"
                                        >
                                            <div
                                                class="p-3 d-flex justify-content-center w-100"
                                            >
                                                ADD TO CART
                                            </div>
                                        </div>
                                        <div
                                            class="product-info d-flex pt-3 align-items-center flex-column"
                                        >
                                            <h3><%=product.name%></h3>
                                            <p class="mb-0"><%=product.price%>$</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% }; %>
                        </div>
                    </div>
                </div>
                <!-- banner #2 -->
                <div class="banner container my-4" style="position: relative">
                    <div class="row">
                        <div class="ps-0 pe-0">
                            <img
                                class="img-fluid"
                                src="/images/customer/banner2.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="button-banner" style="position: absolute">
                        <a href="#recommendation2">
                            <button class="btn">EXPLORE NOW</button>
                        </a>
                    </div>
                </div>
        </section>
        <!-- HOT -->
        <section id="hot">
            <div class="container-lg rec-box py-1 my-4" style="padding-top: 77px !important;"> 
                <h1>Hot Deal</h1>
                <div class="row product my-5">
                    <div class="group-by">
                        <span>Filter: </span>
                        <div class="dropdown ms-2">
                            <button
                                class="btn btn-secondary dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Price
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >High to Low</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Low to High</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <%products.forEach((product) => {%>
                    <div
                        class="col-lg-4 col-md-6 col-ms-12 my-3 d-flex product-col"
                    >
                        <a
                            href="./views/product-detail.html"
                            style="text-decoration: none; color: black"
                        >
                            <div
                                class="product-card ms-2"
                                style="position: relative"
                            >
                                <div class="product-image border shadow">
                                    <img
                                        src="/images/customer/<%=product.image%>"
                                        class="project-thumb"
                                        width="300px"
                                        height="302px"
                                        alt="<%=product.name%>"
                                    />
                                </div>
                                <div
                                    class="overlay product-effect"
                                    style="position: absolute"
                                >
                                    <div
                                        class="p-3 d-flex justify-content-center w-100"
                                    >
                                        ADD TO CART
                                    </div>
                                </div>
                                <div
                                    class="product-info d-flex pt-3 align-items-center flex-column"
                                >
                                    <h3><%=product.name%></h3>
                                    <p class="mb-0"><%=product.price%>$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <%})%>


                </div>
            </div>
        </section>
        <!-- our service -->
        <section id="service">
            <div class="container-lg mt-5">
                <div class="row">
                    <div
                        class="col-lg-4 border d-flex flex-row p-4 align-items-center"
                    >
                        <img
                            style="width: 45px; height: 45px"
                            src="/images/customer/icon-1.png"
                            alt=""
                        />
                        <div class="d-flex flex-column ms-3">
                            <h5>FREESHIP</h5>
                            <p class="mb-0">For all order over 99.000VND</p>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 border d-flex flex-row p-4 align-items-center"
                    >
                        <img
                            style="width: 45px; height: 45px"
                            src="/images/customer/icon-2.png"
                            alt=""
                        />
                        <div class="d-flex flex-column ms-3">
                            <h5>ON TIME</h5>
                            <p class="mb-0">You will get your order on time</p>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 border d-flex flex-row p-4 align-items-center"
                    >
                        <img
                            style="width: 45px; height: 45px"
                            src="/images/customer/icon-1.png"
                            alt=""
                        />
                        <div class="d-flex flex-column ms-3">
                            <h5>PROTECTIVE</h5>
                            <p class="mb-0">
                                Your product will be given a good packaging
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer -->
        <section id="footer" style="background-color: #e38b18">
            <div class="container">
                <footer class="py-3 mt-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
                </ul>
                <p class="text-center text-muted">© 2022 Company, Inc</p>
                </footer>
            </div>
                </footer>
            </div>
        </section>

        <!-- scroll to top -->
        <a href="#">
            <div class="to-top">
                <i class="fa fa-angle-up"></i>
            </div>
        </a>
        <%- include ('partials/script-homepage-customer') %>
    </body>
</html>
