<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head-customer') %>
    <body>
        <!-- navbar-->
        <nav class="navbar fixed-top navbar-expand-md bg-body-tertiary">
            <div class="container-lg" style="position: relative">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img
                        class="pe-2"
                        src="/images/customer/logo-1.png"
                        width="60"
                        height="50"
                        alt=""
                    />
                    <div
                        class="ps-2"
                        style="font-family: 'Dancing Script', cursive"
                    >
                        <h2>Aladin</h2>
                    </div>
                </a>
                <div class="hamburger">
                    <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="#"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#hot">Hot Deal</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link"
                                href="#categories"
                            >
                                Category
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Footer</a>
                        </li>
                    </ul>
                </div>
                <div
                    class="nav-item d-flex justify-content-center align-items-center"
                >
                    <div class="option ms-3">
                        <div class="group">
                            <svg
                                class="icon"
                                aria-hidden="true"
                                viewBox="0 0 24 24"
                            >
                                <g>
                                    <path
                                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                                    ></path>
                                </g>
                            </svg>
                            <input
                                placeholder="Search"
                                type="search"
                                class="input"
                            />
                        </div>
                    </div>
                    <div class="option ms-3 me-2">
                        <a href="../static-website-material/views/cart.html">
                            <i class="fa-solid fa-bag-shopping"></i>
                        </a>
                    </div>
                    <div class="option ms-2">
                        <div class="nav-item dropdown">
                            <a
                                href="#"
                                class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                            >
                                <img
                                    class="rounded-circle me-lg-2"
                                    src="/images/customer/cuong.jpg"
                                    alt=""
                                    style="width: 40px; height: 40px"
                                />
                            </a>
                            <div
                                class="dropdown-menu dropdown-menu-end border-0 rounded-0 rounded-bottom m-0"
                            >
                                <a href="#" class="dropdown-item">My Profile</a>
                                <hr class="dropdown-divider" />
                                <a href="#" class="dropdown-item">Log Out</a>
                            </div>
                        </div>
                    </div>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
        <!-- banner -->
        <section id="banner">
            <div class="banner container-lg">
                <div class="row">
                    <div
                        class="col-lg-7 col-md-5 col-sm-4 d-flex flex-column justify-content-center"
                    >
                        <h1>
                            Neon Orange Lace Up <br />
                            Clear Strap Boots
                        </h1>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Veniam, illo tempora temporibus dicta
                            reiciendis nihil!
                        </p>
                        <div class="my-2">
                            <a href="#hot"><button class="btn">Buy Now</button></a>
                        </div>
                    </div>
                    <div
                        class="col-lg-5 col-md-7 col-sm-8 d-flex justify-content-end"
                    >
                        <img
                            class="img-fluid"
                            src="/images/customer/banner3.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
        </section>
        <!-- main -->
        <section id="categories">
            <div class="container-lg categories my-4" style="padding-top:77px;">
                <h1>Category</h1>
                <div class="content-box mt-5">
                    <div class="row w-100">
                        <% categories.forEach((category) => { %>
                            <div class="col-lg-4 col-md-4 col-sm-4 card-display">
                                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 15rem">
                                    <a href="/customer/category/<%=category%>" style="text-decoration: none">
                                        <div class="cate-img">
                                            <div class="img-border">
                                                <% if (category === "Beauty Cosmetic") {%>
                                                    <img class="img-fluid" src="/images/customer/category2.png" alt="<%= category%>">
                                                <% } else if (category === "Fashion") { %>
                                                    <img class="img-fluid" src="/images/customer/category1.png" alt="<%= category%>">
                                                <% }  else if (category === "Electronics") { %>
                                                    <img class="img-fluid" src="/images/customer/category3.png" alt="<%= category%>">
                                                <% }  else if (category === "Sports & Outdoors") { %>
                                                    <img class="img-fluid" src="/images/customer/category4.png" alt="<%= category%>">
                                                <% }   else if (category === "Home & Kitchen") { %>
                                                    <img class="img-fluid" src="/images/customer/category5.png" alt="<%= category%>">
                                                <% }   else { %>
                                                    <img class="img-fluid" src="/images/customer/category6.png" alt="<%= category%>">
                                                <% } %>      
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-family: 'Poppins', sans-serif !important;"><%=category%></h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                          <% }); %>
                </div>
            </div>
        </section>
        <!-- recommendation -->
        <section id="recommendation">
            <div class="container-lg">
                <div style="position: relative">
                    <div class="title" style="padding: 20px">
                        <% const word = "fashion"%>
                        <% const capitalize = word.charAt(0).toUpperCase() + word.slice(1); %>
                        <h1 style="color:#e38b18">FASHION <a href="/customer/category/<%=capitalize%>"> <i class="fa-solid fa-arrow-right" style="color:#e38b18"></i></a> </h1>
                    </div>
                    <div class="product-container row">
                        <% const fashionProducts = products.filter(product => (product.category === "Fashion" )) %> 
                        <% for (var i = 0; i < 3; i++) { %>
                            <% var product = fashionProducts[i] %>
                            <div class="col-lg-4 col-md-6 col-ms-12 my-3 d-flex product-col">
                                <a href="/customer/products/<%=product.id%>" style="text-decoration: none; color: black">
                                    <div    class="product-card ms-2" style="position: relative">
                                        <div class="product-image border shadow">
                                            <img src="/images/customer/<%=product.image%>" class="project-thumb" width="300px" height="302px" alt="<%=product.name%>"/>
                                        </div>
                                        <div class="overlay product-effect" style="position: absolute">
                                            <div class="p-3 d-flex justify-content-center w-100">
                                                ADD TO CART
                                            </div>
                                        </div>
                                        <div class="product-info d-flex pt-3 align-items-center flex-column">
                                            <h3><%=product.name%></h3>
                                            <p class="mb-0"><%=product.price%>$</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% }; %>
                    </div>
                </div>
            </div>
                <!-- banner #2 -->
                <div class="banner container my-4" style="position: relative">
                    <div class="row">
                        <div class="ps-0 pe-0">
                            <img
                                class="img-fluid"
                                src="/images/customer/banner2.png"
                                alt=""
                            />
                        </div>
                    </div>
                    <div class="button-banner" style="position: absolute">
                        <a href="#recommendation2">
                            <button class="btn">EXPLORE NOW</button>
                        </a>
                    </div>
                </div>
        </section>
        <!-- HOT -->
        <section id="hot">
            <div class="container-lg rec-box py-1 my-4" style="padding-top: 77px !important;"> 
                <h1>Hot Deal</h1>
                <div class="row product my-5">
                    <div class="group-by">
                        <span>Filter: </span>
                        <div class="dropdown ms-2">
                            <button
                                class="btn btn-secondary dropdown-toggle"
                                type="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Price
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >High to Low</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Low to High</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <%products.forEach((product) => {%>
                        <div class="col-lg-4 col-md-6 col-ms-12 my-3 d-flex product-col">
                            <a href="/customer/products/<%=product.id%>" style="text-decoration: none; color: black">
                                <div    class="product-card ms-2" style="position: relative">
                                    <div class="product-image border shadow">
                                        <img src="/images/customer/<%=product.image%>" class="project-thumb" width="300px" height="302px" alt="<%=product.name%>"/>
                                    </div>
                                    <div class="overlay product-effect" style="position: absolute">
                                        <div class="p-3 d-flex justify-content-center w-100">
                                            ADD TO CART
                                        </div>
                                    </div>
                                    <div class="product-info d-flex pt-3 align-items-center flex-column">
                                        <h3><%=product.name%></h3>
                                        <p class="mb-0"><%=product.price%>$</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <%})%>


                </div>
            </div>
        </section>
        <!-- our service -->
        <section id="service">
            <div class="container-lg mt-5 pb-3">
                <div class="row">
                    <div
                        class="col-lg-4 border d-flex flex-row p-4 align-items-center"
                    >
                        <img
                            style="width: 45px; height: 45px"
                            src="/images/customer/icon-1.png"
                            alt=""
                        />
                        <div class="d-flex flex-column ms-3">
                            <h5>FREESHIP</h5>
                            <p class="mb-0">For all order over 99.000VND</p>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 border d-flex flex-row p-4 align-items-center"
                    >
                        <img
                            style="width: 45px; height: 45px"
                            src="/images/customer/icon-2.png"
                            alt=""
                        />
                        <div class="d-flex flex-column ms-3">
                            <h5>ON TIME</h5>
                            <p class="mb-0">You will get your order on time</p>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 border d-flex flex-row p-4 align-items-center"
                    >
                        <img
                            style="width: 45px; height: 45px"
                            src="/images/customer/icon-1.png"
                            alt=""
                        />
                        <div class="d-flex flex-column ms-3">
                            <h5>PROTECTIVE</h5>
                            <p class="mb-0">
                                Your product will be given a good packaging
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include ('partials/footer-customer')%>
        <%- include ('partials/script-homepage-customer') %>
    </body>
</html>
