<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head-customer') %>
    <body>
        <%- include ('partials/nav-customer')%>
        <!-- banner -->
        <section id="banner">
            <div class="banner container-lg">
                <div class="row">
                    <div
                        class="col-lg-7 col-md-5 col-sm-4 d-flex flex-column justify-content-center"
                    >
                        <h1>
                            Neon Orange Lace Up <br />
                            Clear Strap Boots
                        </h1>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Veniam, illo tempora temporibus dicta
                            reiciendis nihil!
                        </p>
                        <div class="my-2">
                            <a href="#hot"><button class="btn">Buy Now</button></a>
                        </div>
                    </div>
                    <div
                        class="col-lg-5 col-md-7 col-sm-8 d-flex justify-content-end"
                    >
                        <img
                            class="img-fluid"
                            src="/images/customer/banner3.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
        </section>
        <!-- main -->
        <section id="categories">
            <div class="container-lg categories my-4" style="padding-top:77px;">
                <h1>Category</h1>
                <div class="content-box mt-5">
                    <div class="row w-100">
                        <% categories.forEach((category) => { %>
                            <div class="col-lg-4 col-md-4 col-sm-4 card-display">
                                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem">
                                    <a href="/customer/category/<%=category%>" style="text-decoration: none">
                                        <div class="cate-img">
                                            <div class="img-border">
                                                <% if (category === "Beauty Cosmetic") {%>
                                                    <img class="img-fluid" src="/images/customer/category2.png" alt="<%= category%>">
                                                <% } else if (category === "Fashion") { %>
                                                    <img class="img-fluid" src="/images/customer/category1.png" alt="<%= category%>">
                                                <% }  else if (category === "Electronics") { %>
                                                    <img class="img-fluid" src="/images/customer/category3.png" alt="<%= category%>">
                                                <% }  else if (category === "Sports & Outdoors") { %>
                                                    <img class="img-fluid" src="/images/customer/category4.png" alt="<%= category%>">
                                                <% }   else if (category === "Home & Kitchen") { %>
                                                    <img class="img-fluid" src="/images/customer/category5.png" alt="<%= category%>">
                                                <% }   else { %>
                                                    <img class="img-fluid" src="/images/customer/category6.png" alt="<%= category%>">
                                                <% } %>      
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title" style="font-family: 'Poppins', sans-serif !important;"><%=category%></h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                          <% }); %>
                </div>
            </div>
        </section>
        <!-- HOT -->
        <section id="hot">
            <div class="container-lg rec-box py-1 my-4" style="padding-top: 77px !important;"> 
                <h1>Hot Deal</h1>
                <div class="row product my-5">
                    <div class="group-by">
                        <div class="dropdown ms-2">
                            <form action="/customer/homepage" method="GET">
                                Price
                                <input type="text" name="min" placeholder="enter minimum" style="padding: 5px; border-radius: 10px;">
                                <input type="text" name="max" placeholder="enter maximum" style="padding: 5px; border-radius: 10px;">
                                <button type="submit" style=" padding: 5px; border-radius: 10px;">Find</button>
                            </form>
                        </div>
                    </div>
                    
                    <%products.forEach((product) => {%>
                        <div class="col-lg-4 col-md-6 col-ms-12 my-3 d-flex product-col">
                            <a href="/customer/products/<%=product.id%>" style="text-decoration: none; color: black">
                                <div    class="product-card ms-2" style="position: relative">
                                    <div class="product-image border shadow">
                                        <img src="/images/customer/<%=product.image%>" class="project-thumb" width="300px" height="302px" alt="<%=product.name%>"/>
                                    </div>
                                    <div class="overlay product-effect" style="position: absolute">
                                        <div class="p-3 d-flex justify-content-center w-100">
                                            ADD TO CART
                                        </div>
                                    </div>
                                    <div class="product-info d-flex pt-3 align-items-center flex-column">
                                        <h3><%=product.name%></h3>
                                        <p class="mb-0"><%=product.price%>$</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <%})%>


                </div>
            </div>
        </section>
        <!-- our service -->
        <section id="service">
            <div class="container-lg mt-5 pb-3">
                <div class="row">
                    <div
                        class="col-lg-4 border d-flex flex-row p-4 align-items-center"
                    >
                        <img
                            style="width: 45px; height: 45px"
                            src="/images/customer/icon-1.png"
                            alt=""
                        />
                        <div class="d-flex flex-column ms-3">
                            <h5>FREESHIP</h5>
                            <p class="mb-0">For all order over 99.000VND</p>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 border d-flex flex-row p-4 align-items-center"
                    >
                        <img
                            style="width: 45px; height: 45px"
                            src="/images/customer/icon-2.png"
                            alt=""
                        />
                        <div class="d-flex flex-column ms-3">
                            <h5>ON TIME</h5>
                            <p class="mb-0">You will get your order on time</p>
                        </div>
                    </div>
                    <div
                        class="col-lg-4 border d-flex flex-row p-4 align-items-center"
                    >
                        <img
                            style="width: 45px; height: 45px"
                            src="/images/customer/icon-1.png"
                            alt=""
                        />
                        <div class="d-flex flex-column ms-3">
                            <h5>PROTECTIVE</h5>
                            <p class="mb-0">
                                Your product will be given a good packaging
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include ('partials/footer-customer')%>
        <%- include ('partials/script-homepage-customer') %>
    </body>
</html>